* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Font */

body {
    font-family: 'Open Sans', sans-serif;
}

/* Wrapper */

.wrapper {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1200px;
}

/* Nav with Logo */

header {
    background-color: #222;
}

.logo-container {
    width: 100%;
    background-color: #c78c06;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-weight: 500;
    font-size: 1rem;
    margin: 0;
    padding: 20px;
}

ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul li {
    padding: 5px;
    width: 100%;
}

ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px;
    text-decoration: none;
}

nav ul li a {
    color: #c78c06;
}

nav ul li:nth-child(1) {
    background-color: #c78c06;
}

nav ul li:nth-child(1) a {
    color: #222;
}

form {
    width: 100%;
}

/* Search Bar */

form {
    display: flex;
}

form input {
    flex-grow: 1;
    height: 40px;
    font-size: 1rem;
    padding-left: 0.5rem;
    border: 1px solid #c78c06;
}

form button {
    width: 40px;
    height: 40px;
    color: #c78c06;
    border: 1px solid #c78c06;
    background-color: #222;
    font-size: x-large;
}

/* Home */

.banner {
    background-image: url(../images/main-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 65px 0px;
    color: white;
}

#home-container {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
    padding: 10px;
}

h1 {
    font-size: 4.25rem;
    font-weight: 600;
    line-height: 150%;
}

.banner p {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 150%;
    padding-bottom: 0.75rem;
}

/* Home Button */

.home-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c78c06;
    padding: 25px;
    font-weight: 500;
    text-decoration: none;
    color: #222;
    column-gap: 5px;
    width: 200px;
}

.btn {
    display: flex;
    align-items: center;
    column-gap: 10px;
    justify-content: center;
    background-color: #222;
    padding: 25px 0px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    width: 180px;
}

.btn i {
    color: white;
}

/* About Us */

h2 {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 150%;
    padding-top: 1rem;
}

.about-us {
    background-color: #ffe5ad;
    padding: 20px;
}

/* Services */

.services {
    padding: 10px;
    padding-bottom: 30px;
}

#services h2 {
    font-size: 2.25rem;
    font-weight: bold;
    line-height: 150%;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}

h3 {
    font-size: 1.50rem;
    font-weight: 600;
    line-height: 150%;
    padding-bottom: 0.5rem;
}

.service-text {
    padding: 10px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
}

.service-text p {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 150%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.services-grid {
    display: grid;
    grid-template-areas:
        "s1"
        "s2"
        "s3"
        "s4"
        "s5"
    ;
    row-gap: 10px;

}

.service-1 {
    grid-area: s1;
}

.service-2 {
    grid-area: s2;
}

.service-3 {
    grid-area: s3;
}

.service-4 {
    grid-area: s4;
}

.service-5 {
    grid-area: s5;
}

.service {
    background-color: #ffe5ad;
    display: flex;
    flex-direction: column;
    width: 100%;

}

/* Vision */

.vision {
    background-image: url(../images/vision.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    padding: 10px;
    padding-top: 20px;
}

.vision p {
    font-size: 0.75rem;
    line-height: 150%;
    padding-bottom: 0.5rem;
}

.vision .btn {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #c78c06;
    padding: 25px 0px;
}

/* Team */

.team {
    padding: 10px 10px;
}

.team h2{
    padding-bottom: 0.5rem;
}

.team-members {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

hr.team-member {
    border: 1px solid #c78c06;
}

.member-text {
    padding: 10px;
}

.col p {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 150%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.flex-container-cols {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.col {
    width: 100%;
}

.col img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.team-member-two {
    flex-direction: row-reverse;
}

.team-member {
    background-color: #ffe5ad;
}

/* Contact */

.contact {
    padding: 10px;
    padding-bottom: 20px;
}

.contact h2{
    padding-bottom: 20px;
}

.contact form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
    font-weight: 500;
    font-size: 1rem;
}

.contact form input {
    height: 40px;
    border: 1px solid #222;
}

textarea {
    resize: none;
    width: 100%;
}

.contact .button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 75px;
    color: #c78c06;
    border: 1px solid #c78c06;
}

.contact-container-grid {
    display: grid;
    grid-template-areas:

        "c1"
        "c3"
        "c2"
    ;
}

.c1 {
    grid-area: c1;
}

.c2 {
    grid-area: c2;
}

.c2 h3 {
    font-size: 1.50rem;
    font-weight: 600;
    line-height: 150%;
    padding-top: 20px;
}

.c3 {
    grid-area: c3;
}

.c3 h3 {
    font-size: 1.50rem;
    font-weight: 600;
    line-height: 150%;
    padding-top: 20px;
}

.c {
    display: flex;
    flex-direction: column;
    width: 100%;

}

/* Hours of Operation */

table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
}

table,
th,
td {
    border: 0.5px solid black;
}

thead {
    background-color: #ffe5ad;
}

td,
th {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 150%;
    padding: 10px;
}

/* Location */

iframe {
    height: 450px;
    width: 100%;
}

/* Footer */

footer {
    padding: 20px 10px;
    background-color: #222;
    color: #c78c06;
}

.bg-black p {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 10px;
}

footer a:link {
    color: #c78c06;
}

/* Mobile to Desktop */

@media screen and (min-width:760px) {

    /* Nav with Logo */
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        column-gap: 50px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .logo-container {
        width: auto;
    }

    form {
        width: auto;
    }

    nav ul {
        flex-grow: 1;
        flex-direction: row;
        justify-content: space-between;
        width: auto;
    }

    nav li {
        min-width: 120px;
    }

    /* Home */
    .banner {
        background-size: cover;
        min-height: 50vh;
        padding: 100px;
    }

    #home-container {
        min-height: 50vh;
        padding-top: 50px;
    }

    #home-container h1{
        width: 60%;
        line-height: 1.5;
    }

    .about-us {
        padding-left: 100px;
        padding-right: 100px;
    }

    h2 {
        font-size: 2.25rem;
        font-weight: 600;
        line-height: 150%;
        padding: 10px;
    }

    .col p {
        padding-left: 10px;
    }

    .flex-container-cols {
        flex-direction: row;
    }

    .col {
        width: 50%;
    }

    /* Services */

    .services {
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 30px;
    }

    .services h2 {
        padding-left: 0px;
    }

    .services-grid {
        display: grid;
        grid-template-areas:
            "s1 s1 s1 s2 s2 s2"
            "s3 s3 s4 s4 s5 s5"

        ;
        gap: 10px;
    }

    .services .btn {
        width: 100%;
    }

    /* Vision */

    .vision {
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 30px;
    }

    /* Team */

    .team {
        padding-left: 100px;
        padding-right: 100px;
    }

    .team-members {
        row-gap: 0;
    }

    .member-text p {
        padding: 0;
        padding-top: 10px;
    }

    .team h2 {
        padding: 0;
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    .team-member:nth-child(2) {
        flex-direction: row-reverse;
    }

    /* Contact */

    .contact {
        padding-left: 100px;
        padding-right: 100px;
    }

    .contact-container-grid {
        display: grid;
        column-gap: 10px;
        grid-template-areas:

            "c1 c2"
            "c3 c3"
        ;
    }

    .c {
        height: 100%;
    }

    .contact h2 {
        padding-left: 0;
        padding-top: 25px;
        padding-bottom: 25px;

    }

    /* Location */

    iframe {
            display: flex;
            height: 100%;
    }

    .c2 h3{
        padding: 0px;
        padding-bottom: 10px;
    }

    /* Hours of Operation */

    .c3 h3 {
        padding-top: 50px;
    }

    /* Footer */

    .bg-black {
        clear: both;
        height: 100px;
        background: #222;
        float: none !important;
        padding-left: 100px;
    }

    .bg-black p {
        font-size: 0.75rem;
        font-weight: 500;
        line-height: 150%;
        padding: 5px;
        margin-bottom: 10px;
    }
}